In [1]:
import sqlite3

In [6]:
path = ''

db_name = 'car.db'

conn = sqlite3.connect(path + db_name)

cur = conn.cursor()

sql = 'CREATAE TABLAE cars (id INT, name TEXT, price REAL);'

cur.execute(sql)

conn.close()

OperationalError: near "CREATAE": syntax error